@import "bourbon/bourbon";
@import "neat/neat";

//@import "_base";

* {
  margin: 0; padding: 0; box-sizing: border-box; font-family: Lato;
}

header, footer, section {
  padding: 8px;
}

header {
  background-color: #282828;
}

footer {
  background-color: #c1e0f7;
}

h1 {
  font-family: Lato;
  font-weight: 300;
  font-size: 22px;
  color: #eee;
  text-transform: uppercase;
}
